{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(SortieForm) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="col-3">
                    {{ form_widget(SortieForm) }}
                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-3">
                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="col-6">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit">GO!</button>
            </div>
            <div class="col-4">
                <button></button>
            </div>
            <div class="col-4">
                <button></button>
            </div>
        </div>
        {{ form_end(SortieForm) }}
    </div>
{% endblock %}