{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non accessible</h1>

    <p style="color: black">
        Vous n'avez pas les autorisations nécessaires pour accéder à cette page.</a>
    </p>
    <div>
        {{ status_text }}

    </div>
{% endblock %}