{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create your account!</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter l'utilisateur</button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
